* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-section {
    background-color: cyan;
    width: 100%;
    height: 640px;
}

.header {
    height: 80px;
    width: 100%;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.header-btn:hover {
    background-color: orange;
}

.centermiddle {
    height: 410px;
    width: 100%;
    text-align: center;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.center-middle {
    height: 410px;
    width: 100%;
    background-color: cornflowerblue;
}

.box {
    height: 200px;
    width: 28%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.my-button:hover {
    background-color: darkred;
}

.button {
    background-color: blue;
    height: 10px;
    width: 20%;
}

.container {
    background-color: goldenrod;
    height: 640px;
    width: 100%;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;

}

.box {
    height: 300px;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 {
    height: 100%;
    width: 25%;
    background-color: yellow;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box2 {
    height: 100%;
    width: 25%;
    background-color: green;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box3 {
    height: 100%;
    width: 25%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box4 {
    height: 100%;
    width: 25%;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

table {
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;
    font-size: 18px;
}

th,
td {
    border: 1px solid #444;
    padding: 10px 15px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.image {
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    display: flex;
    justify-items: center;
}

.list li {
    margin: 30px;
}